

.formulario-brief{
    width: 1000px;
    background-color: white;
display: flex;
flex-direction: column;
margin: 0 auto;
padding: 15px;

}
.pregunta-brief details{
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
}

.brief-info{
    display: flex;
    flex-direction: column;
    background-color:#e0e0e07d;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
   
}
.inputs{
    height: 40px;
   border-color: skyblue;
   border-radius: 5px;
border-width:1px;
margin: 10px;
font-size: 20px;
}
.inputs:focus{
    border: none;
    background-color: rgba(118, 204, 237, 0.413);
}
.btn-enviar{
    width: 250px;
    height: 65px;
    border-radius: 15px;
    background-color: rgba(0, 162, 255, 0.671);
    font-size: 25px;
    margin-top: 25px;
}
.btn-enviar:hover{
    background-color: skyblue;
    border: none;
}