

body{
 background-color: black;
  margin:0px;
}

.home{
  color: white;
}
.navegation{
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 255, 0.594);
  width: 100%;
  height: 90px;
  margin-top: -10px;

}

.fotoPerfil{
  width: 70px;
  height: 70px;
  border-radius:50%;
  border: solid;
position: absolute;
left: 100px;
top: 5px;
}
.nombre{
  position: absolute;
  left: 200px;
  top: 25px;
  font-size: 25px;
  font-family:serif;
} 
/*opciones*/
.Link{
  color: white;
  margin: 25px;
  font-size: 25px;
  text-decoration: none;
  margin-top: 35px;
}
.Link:hover{
  text-decoration: underline;
}
.mifoto{
  display: flex;
  margin-top: 60px;
  width: 800px;

}
.mifoto{
	-webkit-animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.primeraPortada{
  display: flex;
}

.titulo{
  color:  #29F8F3;
  font-size: 55px;
}
.titulo h2{
  display: flex;
  margin-top: 100px;
}


                                                                 /*segundo portal*/
  
  .tiposDeWeb{
    width: 100%;
    height: auto;
   margin-top: -50px;
  justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
  }
.webs{
width: 300px;
  font-size: 25px;
  border: #29F8F3 solid 1px;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  color:white;
  backdrop-filter: blur(50px);
  margin-bottom: 25px;
  margin-top: 25px;
}  
.webs h4{
  color: #fff;
 text-decoration:underline;

  }        
.webs:hover{
  box-shadow:  #29F8F3 5px 5px 25px 5px;
  color: white;
  transform: scale(1.1);
  
}                                                 
.segundoPortal{

  width: 100%;
  height: 1300px;
   
}

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
  
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: s;
	font-size: 65px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(41,248,243,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(41,248,243,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(41,248,243,1); stroke-width: 3; }
	100% {
		fill: #29F8F3; stroke: rgba(41,248,243,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.tiposDePaginas{
  
  color: #29F8F3;
  font-size: 50px;
  text-decoration: underline;
  cursor: pointer;
  
}
.tiposDePaginas:hover{
  text-decoration: none;
}

.tecnologia{

width: 100%;
height: 500px;
text-align: center;
margin-top: -200px;

}
.spanText{

color: white;
font-size: 50px;


}
.btn-contacto {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color:white;
  background-color:blue;
  cursor: pointer;
 }
 
 .btn-contacto:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn-contacto:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn-contacto::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn-contacto::after {
  background-color: white;
 }
 
 .btn-contacto:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }
 @media screen and (max-width:1000px) {
  .titulo h2{
    font-size: 40px;
    margin-left: -15px;
  }
  
 }
 .dominios{
  display: flex;
  flex-direction: column;
  backdrop-filter:blur(25px);
  width: 100%;
  height: 500px;

 }
 /*menu*/
 .burger {
  display: flex;
  float: right;
  position: absolute;
  top: 5px;
  width: 40px;
  height: 30px;
  background:transparent;
  cursor: pointer;
  display: none;
}

.burger input {
display: none;
}

.burger span {
  margin-top: 25px;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background:white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
                                           /*para mobile responsive diseñooooooooooooo*/
@media screen and (max-width:1000px){
  .navegation{
    display: none;
  }
.burger{
  display: block;
position: absolute;
z-index: 1px;
right: 10px;
margin-top: -10px;
}

.btn-navbar-mobile{
color: white;
display:flex;
justify-content: center;
align-items: center;
padding: 20px;
background-color: rgba(255, 255, 255, 0.201);
margin-bottom: 5px;
text-decoration: none;
font-size: 20px;

}  

.active{
  display: none;
}

}
@media screen and (min-width:1000px) {
  .navegation-mobile{
    display: none;
  }
  
}
@media screen and (max-width:1000px){
  .mifoto{
  margin-left: 50px;
    width: 300px;
    height: 300px;
    background-color: #29F8F3;
    border-radius: 50%;
    
  }
}
@media screen and (max-width:1000px){
  .primeraPortada{
    display: inline-block;  
  }
 .titulo{
padding-left: 50px;
  margin-top: -90px;
 } 
}
@media screen and (max-width: 1000px) {
  .segundoPortal svg text{
  font-size: 25px;
  }
 
}
@media screen and (max-width:1000px){
.webs{
  width: 75px;
  height: 75px;
  font-size: 15px;
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
   margin-bottom: 25px;
   margin-top: 20px;
   padding-top: 15px;
  
}
.webs7{
  position: relative;
  right: 130px;
  width: 105px;
color: white;
  height: 115px;
  font-size: 15px;
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
   top: 15px;
}
}

.funcioneswebs {
  position: relative;
  top: 50px;
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width:1100px) {
  .funcioneswebs{
    display: none;
  }

}


.explicacion{
  position: relative;
  width: 300px;
  height: 300px;
  left: 100px;
top: 100px;
color: #fff;

}
.ui_img2{
  position: relative;
  bottom: 50px;
  width: 200px;
  height: 200px;
  left: 50px;
  
}
.funcioneswebs{
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 500px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  border-radius: 500px 0 0 0 ;

}

.webs p{
display: block;

}
.webs7{
  display: none;
}

@media screen and (min-width:1000px) {
  .ui_img2{
    display: none;
  }
  .explicacion{
display: none;
  }

  }

.img-tecnologias{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 5px 10px;
  background-color: white;
  border-radius: 10px;
}
@media screen and  (max-width:1000px) {
  .tecnologia{
    height: 500px;
    position: relative;
  top: -100px;
  
  }
  .webs p{
    display: none;
  }

}
@media screen and  (max-width:1000px) {
  .navegation{
    display: block;
  }
  .Link{
    display: none;
  }
  .fotoPerfil{
position: relative;
left: 15px;

top: 15px;
  }
  .nombre{
    position: absolute;
    left: 110px;
    
  }
  
}
/*pie de pagina*/
.pieDePagina{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size:larger;
  width: 100%;
  height: 250px;
  background-color:rgba(45, 45, 45, 0.986);
}
@media screen and (max-width:1000px){
  .pieDePagina label{
   position: absolute;
   margin-left: 50px;
  }

}
.paginas-proyectos{
  position: relative;
  bottom: 150px;
  width: 100%;
  height: 850px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;/*esto es para que se acomoden dentro del cuadro y no se salgan*/
}
.img-proyectos{
  position: relative;
  left:200px;
  width: 400px;
  height: 250px;
  margin: 15px;
cursor: pointer;
border: solid white;;
}
.img-proyectos:hover{
transform: scale(1.1);
}
@media screen and (max-width:1000px) {
  .paginas-proyectos{
    width: 400px;
    height: 500px;
    position: relative;
  top: -300px;
  
  margin-bottom: 0;
  }
  .img-proyectos{
    position: relative;
    width: 150px;
    height: 100px;
   left: 30px;
  }
  .wrapper svg text{
font-size: 25px;
  }
}